body {
    font-family: Verdana,sans-serif;
}

header {
    background-color: rgb(64, 77, 108);
    padding: 5px;
    border-radius: 5px;
    color: white;
}

/* Prevent header from being considered empty. */
header:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

#content-wrapper {
    clear: both;
}

nav {
    float: left;
}

.nav-url {
    color: white;
    text-decoration: none;
}

.nav-url:hover {
    text-decoration: underline;
}

.login-box {
    float: right;
}

#bug-header {
    margin-top: 5px;
    background-color: grey;
    border-radius: 15px;
    padding: 10px;
}

.bug-column-wrapper {
    width: 33.3%;
    display: inline-block;
    float: left;
}

.bug-column {
    background-color: lightblue;
    border-radius: 10px;
    margin: 5px;
    border: 3px solid black;
}

#bug-description {
    margin-left: 0px;
}

#bug-solution {
    margin-right: 0px;
}

.bug-comment {
    margin: 10px;
    border: 1px dashed black;
    padding: 5px;
    background-color: rgb(232, 232, 232);
}

.bug-comment-header {
    text-align: right;
}

.bug-comment-header > a {
    text-decoration: none;
}

.newcomment-message {
    width: 90%;
    height: 200px;
    margin: 0px 10px 0px 10px;
}

h1, h2 {
    background-color: rgb(208, 208, 208)
}

h1 {
    font-size: 16px;
}

h2 {
    border-radius: 10px 10px 0px 0px;
    font-size: 14px;
    background-color: yellow;
    margin: 0px;
    padding: 3px;
    border-bottom: 2px solid black;
}
