{% extends "base.html" %}
{% block title %}Bug #{{ bug.id }}{% endblock %}
{% block content %}
<div id="bug-header" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
<h1>Bug {{ bug.id }} - {{ bug.title|e }}</h1>
<div>Reporter: {{ bug.reporter.email|e }} on {{ bug.created.strftime("%A, %d. %B %Y %I:%M%p") }}</div>
<div>Severity: {{ bug.severity }}</div>
<div>Keywords: {{ bug.keywords }}</div>
<div>Product: {{ bug.product }}</div>
<div>Version: {{ bug.version }}</div>
=======
</div>
{% macro comment_column(comments, short, kind) %}
<div class="bug-column-wrapper">
<section class="bug-column">
<h2>{{ kind }}</h2>
<div class="bug-comment">
<div class="bug-comment-header">
<a href="">Edit</a>
</div>
<div class="bug-comment-text">
{% if bug[kind|lower] %}
{{ bug[kind|lower] }}
{% else %}
[empty]
{% endif %}
</div>
</div>
    {% for comment in comments %}
        <div class="bug-comment">
            <h4>{{ comment.user.email|e }} says:</h4>
            <p>{{ comment.message }}</p>
        </div>
    {% endfor %}

    <div class="commentform">
    <form id="new{{ short }}comment-form" method="post" action="{{ url_for('add_comment', bugid=bug.id, kind=kind) }}">
        <p><label for="{{ short }}commentform-message">Message</label><textarea id="{{ short }}commentform-message" name="message"></textarea></p>
        <input type="submit" value="Submit comment">
    </form>
    </div>
</section>
</div>
{% endmacro %}
{{ comment_column(comments_description, "d", "Description") }}
{{ comment_column(comments_cause, "c", "Cause") }}
{{ comment_column(comments_solution, "s", "Solution") }}
{% endblock %}
