{% extends "base.html" %}
{% block title %}Bug #{{ bug.id }}{% endblock %}
{% block content %}
<div id="bug-header" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
<h1>Bug {{ bug.id }} - {{ bug.title|e }}</h1>
<div>Reporter: {{ bug.reporter.email|e }} on {{ bug.created.strftime("%A, %d. %B %Y %I:%M%p") }}</div>
<div>Severity: {{ bug.severity }}</div>
<div>Keywords: {{ bug.keywords }}</div>
<div>Product: {{ bug.product }}</div>
<div>Version: {{ bug.version }}</div>
=======
</div>
<div id="bug-container">
<div class="bug-column-wrapper">
<section id="bug-description" class="bug-column">
<h2>Description</h2>
<div class="bug-comment">
<div class="bug-comment-header">
<a href="">Edit</a>
</div>
<div class="bug-comment-text">
{{ bug.description|e }}

    {% for comment in comments_description %}
        <hr>
        <div class="comment">
            <h4>By: {{ comment.user.email|e }}</h4>
            <p>Message: {{ comment.message }}</p>
        </div>
        <hr>
    {% endfor %}

    <div class="commentform">
    <form id="newdcomment-form" method="post" action="{{ url_for('add_comment', bugid=bug.id, kind='Description') }}">
        <p><label for="dcommentform-message">Message</label><textarea id="dcommentform-message" name="message"></textarea></p>
        <input type="submit" value="Submit comment">
    </form>
    </div>
</div>
</div>
</section>
</div>
<div class="bug-column-wrapper">
<section id="bug-cause" class="bug-column">
<h2>Cause</h2>
<div class="bug-comment">
<div class="bug-comment-header">
<a href="">Edit</a>
</div>
<div class="bug-comment-text">

    {% for comment in comments_cause %}
        <hr>
        <div class="comment">
            <h4>By: {{ comment.user.email|e }}</h4>
            <p>Message: {{ comment.message }}</p>
        </div>
        <hr>
    {% endfor %}

    <div class="commentform">
    <form id="newccomment-form" method="post" action="{{ url_for('add_comment', bugid=bug.id, kind='Cause') }}">
        <p><label for="ccommentform-message">Message</label><textarea id="ccommentform-message" name="message"></textarea></p>
        <input type="submit" value="Submit comment">
    </form>
    </div>
</div>
</div>
</section>
</div>
<div class="bug-column-wrapper">
<section id="bug-solution" class="bug-column">
<h2>Solution</h2>
<div class="bug-comment">
<div class="bug-comment-header">
<a href="">Edit</a>
</div>
<div class="bug-comment-text">

    {% for comment in comments_solution %}
        <hr>
        <div class="comment">
            <h4>By: {{ comment.user.email|e }}</h4>
            <p>Message: {{ comment.message }}</p>
        </div>
        <hr>
    {% endfor %}

    <div class="commentform">
    <form id="newscomment-form" method="post" action="{{ url_for('add_comment', bugid=bug.id, kind='Solution') }}">
        <p><label for="scommentform-message">Message</label><textarea id="scommentform-message" name="message"></textarea></p>
        <input type="submit" value="Submit comment">
    </form>
    </div>
</div>
</div>
</section>
</div>
</div>
{% endblock %}
