{% extends "base.html" %}
{% block title %}Bugs{% endblock %}
{% block content %}

<table border="1">
    <tr>
        <th>Title</th>
        <th>Reporter</th>
        <th>Severity</th>
        <th>Product</th>
        <th>Version</th>
    </tr>
    {% for bug in bugs %}
        <tr>
            <td><a href="{{ url_for('view_bug', bugid=bug.id) }}">{{ bug.title }}</a></td>
            <td>{{ bug.reporter|e }}</td>
            <td>{{ bug.severity }}</td>
            <td>{{ bug.product }}</td>
            <td>{{ bug.version }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
