{% extends "base.html" %}
{% block content %}
<form id="newbug-form" method="post">
<label for="bugform-title">Title</label><input id="bugform-title" name="title" type="text">
<label for="bugform-description">What is the bug?</label><textarea id="bugform-description" name="description"></textarea>
<label for="bugform-severity">How severe is this?</label>
    <select id="bugform-severity" name="severity">
        <option value="Minor">Minor</option>
        <option value="Normal">Normal</option>
        <option value="Major">Major</option>
    </select>
<label for="bugform-keywords">Keywords</label><input id="bugform-keywords" name="keywords" type="text">
<label for="bugform-product">Product</label><input id="bugform-product" name="product" type="text">
<label for="bugform-version">Version</label><input id="bugform-version" name="version" type="text">

    <input type="submit" value="Enter bug">
</form>
{% endblock %}
